<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.java.CreateBankAccountTest"/>
      <class name="test.java.GetBankAccountDetailsTest"/>
      <class name="test.java.CreateBankAccountNegativeTests"/>
      <class name="test.java.ApiKeyCreationNegativeTest"/>
      <class name="test.java.SignUpTest"/>
      <class name="test.java.ApiKeyCreationTest"/>
      <class name="test.java.CreateBankAccountSecurityTest"/>
      <class name="test.java.SignUpNegativeTest"/>
      <class name="test.java.GetBankAccountDetailsNegativeTests"/>
      <class name="test.java.SignUpSecurityTest"/>
      <class name="test.java.ApiKeyCreationSecurityTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
